*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    background-color: rgb(94, 94, 224);
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
 
}


.nav-list{
    display: flex;
    flex-direction: row;
}
li{
    list-style-type: none;
 
}
.started{
    border-radius: 30px;
    padding: 4px;
}
 /* inizio main */
 
 .big-box{
    width: 100%;
    background-color: aqua;
    margin-top: 3rem;
    border-radius: 30px;
    padding: 1rem;
    padding-right: 0;
 }
 .small-box{
    width: 100%;
    margin-right:2.5%;
    background-color: aqua;
    margin-top: 3rem;
    border-radius: 30px;
    padding: 1rem;
 }
 .second-block{
    background-color: rgb(112, 56, 112);
    color: white;
    width: 100%;
    margin-top: 3rem;
 }
 .partners{
    background-color:rgb(112, 56, 112) ;
    color: white;
    width: 90%;
    margin: auto;
    margin-top: 4%;
 }
 .fourth-block{
    background-color: rgb(112, 56, 112);
    width: 100%;
 }
 .partners{
    width: 80%;
    margin: auto;
    background-color: white;
    color: black;
    margin-bottom: 3%;
 }
 .sixth-block{
    background-color: rgb(112, 56, 112);
 }
 footer{
    background-color: black;
    color: white;
 }